<div #btbar class="contex-btbar">
  <div #btbarwr class="oneui-affix-item">
    <div vnpt-row class="fixed-bottom-bar" [ngStyle]="{'background-color':bgColor}">
      <div vnpt-col vSpan="24" class="px-3 px-md-8 py-2 py-md-3">
          <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
