.header {
  background-color: #1363b9;
  color: #fff;
  height: 42px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  right: 0px;
  display: flex;
  justify-content: space-between;
  .topbar-btn {
    width: 42px;
    height: 42px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    &:hover {
      background-color: fade(#000, 10);
    }
    &.topbar-add-document {
      width: auto;
      height: 30px;
      border: 1px solid #fff;
      padding: 3px 10px;
      .icon {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
      }
    }
    .number-badge {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 8px;
      box-shadow: none;
    }
    .text-m {
      display: none;
    }
  }
  .header-logo {
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    padding-top: 2px;
  }
  .btn-group-search {
    padding: 0px 7px;
    border: 0px;
    .btninput-detail {
      height: 28px;
    }
  }
  .header-right {
    text-align: right;
    padding-right: 7px;
  }
  .topbar-btn-menu-search,
  .topbar-btn-menu-more {
    display: none;
  }
}
.oneui-dropdown-menu-item {
  padding: 7px 20px;
}
.oneui-dropdown-menu {
  box-shadow: 0 0.5rem 1rem fade(#000, 10%);
  outline: 0;
}

.topbar-btn-avatar {
  margin-top: -5px;
}
.user-info {
  display: flex;
  align-items: center;
  min-width: 260px;
  .menu-avatar {
    width: 56px;
    margin-right: 14px;
  }
  .truncate {
    margin-bottom: 0px;
  }
  .email {
    font-size: 12px;
  }
}
.drawer-header {
  border-bottom: 1px solid #d9d9d9;
}
.notification-list {
  .notification-item {
    display: flex;
    padding: 14px 0px;

    .noti-avatar {
      width: 56px;
      margin-right: 10px;
      position: relative;
      .icon-status-active {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        line-height: 20px;
      }
    }
    .noti-content {
      .top {
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        .username {
          float: left;
        }
        .noti-time {
          float: right;
          font-size: 12px;
        }
      }
      .noti-desc {
        font-size: 13px;
        margin-bottom: 0px;
      }
    }
  }
}

.all-notification {
  padding: 14px 14px;
  display: block;
  text-align: center;
}

@media (max-width: 991px) {
  .header-mid {
    position: absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    padding: 7px 14px;
    box-shadow: 0 0.5rem 1rem #0000001a;
    display: none;
    &.show {
      display: block;
    }
  }
  .header {
    .topbar-btn-menu-search,
    .topbar-btn-menu-more {
      display: inline-block;
    }
    .header-menu-dropdown {
      position: absolute;
      top: 42px;
      right: 0px;
      width: 260px;
      background-color: #fff;
      box-shadow: 0 0.5rem 1rem #0000001a;
      display: none !important;
      &.show {
        display: block !important;
      }
      .topbar-btn {
        display: block;
        color: #000;
        width: 100%;
        height: auto;
        padding: 14px 21px;
        text-align: left;
        .text-m {
          display: inline-block;
        }
        &:hover {
          background-color: #f5f5f5;
        }
        .ms-Icon {
          width: 24px;
          margin-right: 5px;
        }
      }
      .number-badge {
        top: 20px;
        left: 32px;
      }
    }
  }
}

@media (max-width: 360px) {
  .header {
    .topbar-add-document {
      .icon {
        font-size: 16px;
      }
      .text-name {
        display: none;
      }
    }
  }
}

.main-loading-wrapper {
  position: fixed;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff80;
  text-align: center;
  z-index: 999;
}

.main-loading-wrapper .spin-icon {
  margin-top: 10%;
}
