<div #actionbar class="contex-actionbar">
  <div #actionbarwr vnpt-row class="context-actionbar-wrapper" [ngStyle]="{'background-color':bgColor?bgColor:'','top':fixAtTop? fixAtTop+'px':'0px'}">
    <div vnpt-col vXs="14" vSm="14" vMd="14" vLg="18" vXl="18" class="actionbar-left">
      <ng-container *ngTemplateOutlet="left"></ng-container>
    </div>
    <div vnpt-col vXs="10" vSm="10" vMd="10" vLg="6" vXl="6" style="text-align: right" class="actionbar-right">
      <ng-container *ngTemplateOutlet="right"></ng-container>
    </div>
  </div>
</div>
