<div *ngIf="loadingScreen" class="loading-wr">
  <vnpt-spin vSimple vTip="Đang xử lý, vui lòng chờ chút..."></vnpt-spin>
  <div *ngIf="errMsg" class="error-msg" >
    <vnpt-alert vType="error" [vMessage]="'Khởi tạo lỗi'" [vDescription]="errMsg" vShowIcon> </vnpt-alert>
  </div>
</div>

<div #routerConfig class="d-none">
  <redirect from="/" to="/home"></redirect>
  <route path="login"><application name="login"></application></route>
  <route path="nopermission"><application name="nopermission"></application></route>
  <route path="errorpage"><application name="errorpage"></application></route>
  <route path="home">
    <application name="header"></application>
      <div class="main">
        <div class="quick-menu">
          <application name="quickmenu"></application>
        </div>
        <div class="main-content">
          <application name="breadcrumb"></application>
          <div class="main-router">
            <route path="settings"><application name="settings"></application></route>
            <route default><application name="emptypage"></application></route>
          </div>
        </div>
      </div>
  </route>
  <route default><application name="notfound"></application></route>
</div>

