:host ::ng-deep .oneui-menu-inline .oneui-menu-item {
  margin-bottom: 15px;
  margin-top: 6px;
  padding-right: 14px;
  padding-left: 10px !important;
}

:host ::ng-deep .oneui-menu-inline .oneui-menu-item i {
  margin-right: 7px;
}

:host
  ::ng-deep
  .oneui-menu:not(.oneui-menu-horizontal)
  .oneui-menu-item-selected {
  background-color: #e7e8e9;
}

:host
  ::ng-deep
  .oneui-menu-inline
  > .oneui-menu-submenu
  > .oneui-menu-submenu-title {
  font-weight: 600;
  padding-left: 4px !important;
}

