<div *ngIf="breadcrumbs && breadcrumbs.length > 0" class="breadcrumb-container">
  <div class="breadcrumb-wrapper">
    <vnpt-breadcrumb [vSeparator]="iconTemplate">
      <vnpt-breadcrumb-item>
        <a vRouterLink="/home"><i vnpt-icon vType="Home"></i> Trang chủ</a>
      </vnpt-breadcrumb-item>
      <vnpt-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs; let i = index">
        <a *ngIf="i < breadcrumbs.length - 1 && breadcrumb.url" href="{{ breadcrumb.url }}">
          {{ breadcrumb.label }}</a>
        <span *ngIf="i < breadcrumbs.length - 1 && !breadcrumb.url" class="bread-no-link">
          {{ breadcrumb.label }}</span>
        <span *ngIf="i == breadcrumbs.length - 1" class="bread-no-link">
          {{ breadcrumb.label }}</span>
      </vnpt-breadcrumb-item>
    </vnpt-breadcrumb>
    <ng-template #iconTemplate><i vnpt-icon vType="ChevronRight" [vSize]="'xs'"></i></ng-template>
  </div>
</div>
