.close-btn {
  border: none;
  background: #f5f5f5;
  position: fixed;
  right: 21px;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  line-height: 36px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 98;
  color: #666;
  top: 144px;
}
.close-btn .ms-Icon {
  font-size: 14px;
}
.close-btn:hover {
  background-color: #fafafa;
}

.close-btn:hover {
  background-color: #fafafa;
}

.content-area {
  min-height: calc(100vh - 147px);
}

@media only screen and (max-width: 992px) {
  .close-btn {
    position: fixed;
    right: 10px;
    top: 0px;
    margin-top: 0px;
    background: #ffffff;
  }
}
