<vnpt-page [close]="false">
  <vnpt-layout [vType]="'compact'">
    <vnpt-main-content [title]="'Page Header Here'">
      day la blank page content<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      content<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      content<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      content<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      content<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      content<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      content<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      content<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </vnpt-main-content>
  </vnpt-layout>
</vnpt-page>
