<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VNPT ONEUI CODE BASE</title>
    <link rel="stylesheet" href="https://storage-stagging.vnpt.vn/oneui/1.1/oneui-ui.min.css">
    <link rel="stylesheet" href="https://storage-stagging.vnpt.vn/oneui/1.1/fabric-icons.min.css">
    <link rel="stylesheet" href="https://storage-stagging.vnpt.vn/oneui/opensans/opensans.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self' https: localhost:*  10.159.19.77:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:* 10.159.19.77:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https: localhost:* 10.159.19.77:*; object-src 'none';img-src 'self' data: *;">
    <meta name="importmap-type" content="systemjs-importmap"/>

    <link rel="preload" href="https://storage-stagging.vnpt.vn/oneui/libs/single-spa.min.js" as="script">

    <script src="https://storage-stagging.vnpt.vn/oneui/libs/import-map-overrides.js"></script>
    <script src="https://storage-stagging.vnpt.vn/oneui/libs/zone.js"></script>

    <% if (isLocal) { %>
        <script src="https://storage-stagging.vnpt.vn/oneui/libs/system.js"></script>
        <script src="https://storage-stagging.vnpt.vn/oneui/libs/amd.js"></script>
    <% } else { %>
        <script src="https://storage-stagging.vnpt.vn/oneui/libs/system.min.js"></script>
        <script src="https://storage-stagging.vnpt.vn/oneui/libs/amd.min.js"></script>
    <% } %>
</head>
<body>

<% if (isLocal) { %>
  <script>
    var rootUrl = "http://console.galaxy.vnpt.vn:8087";
    var apiUrl = "http://10.159.19.77:8060";
    localStorage.setItem("api:url:base",apiUrl);
    localStorage.setItem("enviroment:origin",rootUrl);
  </script>
   <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://storage-stagging.vnpt.vn/oneui/libs/single-spa.min.js",
        "@vnpt/root-config": "//localhost:9000/vnpt-root-config.js",
        "start": "http://localhost:15457/main.js"
      }
    }
  </script>
<% } else { %>
  <script>
    var rootUrl = "http://10.159.19.77:8087";
    var apiUrl = "http://10.159.19.77:8060";
    localStorage.setItem("api:url:base",apiUrl);
    localStorage.setItem("enviroment:origin",rootUrl);
  </script>
   <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://storage-stagging.vnpt.vn/oneui/libs/single-spa.min.js",
        "@vnpt/root-config": "//ttp://10.159.19.77:8864/demo1/vnpt-root-config.js",
        "start": "http://10.159.19.77:8864/demo1/apps/start/main.js"
      }
    }
  </script>
<% } %>

<template id="single-spa-layout"></template>

<script>
    System.import("@vnpt/root-config");
</script>
</body>
</html>
